@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  
  .films__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    justify-items: center;
  }
  
  .collections__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-items: center;
  }
  
  .collections__item {
    max-width: 50%;
    height: 250px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  
  .collections__item {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__nav {
    padding: 29px 0;
  }

  .menu {
    display: flex;
  }
  
  .menu:focus ~ .header__list {
    left: 0;
  }
  
  .header__list {
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: -100%;
    width: 200px;
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
    text-align: center;
    border-radius: 0 0 50px 0;
    overflow: hidden;
    transition: 500ms linear;
  }
  
  .banner {
    height: 85vh;
  }
  
  .banner__title {
    font-size: 45px;
    text-align: center;
  }
  
  .films__title {
    margin: 0 auto 30px;
  }
  
  .films__cards {
    grid-template-columns: 1fr;
  }
  
  .video {
    padding-top: 0;
  }
  
  .video .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  
  .collections__title {
    margin: 0 auto 30px;
  }
  
}

@media (max-width: 576px) {
  .container {
    max-width: auto;
  }
  
  .banner__btns {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  
  .banner__title {
    font-size: 35px;
  }
  
  .films {
    padding: 30px 0;
  }
  
  .collections {
    padding-top: 30px;
  }
  
  .collections__item {
    height: 190px;
  }
  
  .collection__item-title {
    max-width: 150px;
    width: 100%;
    text-align: center;
  }
}