@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__nav {
    padding: 29px 0;
  }

  .menu {
    display: flex;
  }
  
  .menu:focus ~ .header__list {
    left: 0;
  }
  
  .header__list {
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: -100%;
    width: 200px;
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
    text-align: center;
    border-radius: 0 0 50px 0;
    overflow: hidden;
    transition: 500ms linear;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: auto;
  }
}