@import url(./fonts.css);

:root {
  --linkHiver: #ED8E00;
  --btnBg: #040D1F;
  --btnHover: #F18128;
  --titleColor: #F18128;
  --bodyBg: #040D1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: 'Comfortaa';
  background: var(--bodyBg);
}

.container {
  max-width: 1143px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}