@import url(./fonts.css);

:root {
  --linkHiver: #ED8E00;
  --btnBg: #040D1F;
  --btnHover: #F18128;
  --titleColor: #F18128;
  --bodyBg: #040D1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: 'Comfortaa';
  background: var(--bodyBg);
}

.container {
  max-width: 1143px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.ads {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.ads span {
  max-width: 166px;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}