@import url(./fonts.css);

:root {
  --linkHiver: #ED8E00;
  --btnBg: #040D1F;
  --btnHover: #F18128;
  --titleColor: #F18128;
  --bodyBg: #040D1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: 'Comfortaa';
  background: var(--bodyBg);
}

.container {
  max-width: 1143px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.ads {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.ads span {
  max-width: 166px;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
}

.header__nav {
  background: rgba(1, 3, 5, 0.80);
  backdrop-filter: blur(7.5px);
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  column-gap: 5px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  column-gap: 18px;
}

.header__link {
  display: block;
  padding: 43px 6px;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: capitalize;
  transition: 500ms linear;
  position: relative;
}

.header__link:hover {
  color: var(--linkHiver);
}

.header__link::after {
  content: '';
  display: block;
  height: 2px;
  background: var(--linkHiver);
  border-radius: 23px 23px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  transition: 500ms;
}

.header__link:hover::after {
  width: 100%;
  left: 0;
}

.menu {
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.menu span {
  height: 8px;
  width: 100%;
  border-radius: 3px;
  background: #fff;
  transition: 500ms linear;
}

.menu:hover span {
  background: var(--linkHiver);
}

.menu:focus span {
  background: var(--linkHiver);
}

.menu:focus span:nth-child(1) {
  transform: rotate(45deg) translateY(-15px) translateY(24px) translateX(31px) translateX(-22px);
}
.menu:focus span:nth-child(2) {
  transform: rotate(-45deg);
  opacity: 0;
}

.menu:focus span:nth-child(3) {
  transform: rotate(-45deg) translateY(15px) translateY(-24px) translateX(31px) translateX(-22px);
}