@import url(./fonts.css);

:root {
  --linkHiver: #ED8E00;
  --btnHover: #040D1F;
  --btnBg: #F18128;
  --titleColor: #F18128;
  --bodyBg: #040D1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: 'Comfortaa';
  background: var(--bodyBg);
}

.container {
  max-width: 1143px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  max-width: 166px;
  width: 100%;
  background: var(--btnBg);
  border-radius: 4px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 86%;
  transition: 400ms;
  box-shadow: 0 0 10px 0 var(--btnHover);
}

.btn:hover {
  background: var(--btnHover);
  color: white;
  box-shadow: 0 0 10px 0 var(--btnBg);
}

.ads {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.ads span {
  max-width: 166px;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header__nav {
  background: rgba(1, 3, 5, 0.80);
  backdrop-filter: blur(7.5px);
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  column-gap: 5px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  column-gap: 18px;
}

.header__link {
  display: block;
  padding: 43px 6px;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: capitalize;
  transition: 500ms linear;
  position: relative;
}

.header__link:hover {
  color: var(--linkHiver);
}

.header__link::after {
  content: '';
  display: block;
  height: 2px;
  background: var(--linkHiver);
  border-radius: 23px 23px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  transition: 500ms;
}

.header__link:hover::after {
  width: 100%;
  left: 0;
}

.menu {
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.menu span {
  height: 8px;
  width: 100%;
  border-radius: 3px;
  background: #fff;
  transition: 500ms linear;
}

.menu:hover span {
  background: var(--linkHiver);
}

.menu:focus span {
  background: var(--linkHiver);
}

.menu:focus span:nth-child(1) {
  transform: rotate(45deg) translateY(-15px) translateY(24px) translateX(31px) translateX(-22px);
}

.menu:focus span:nth-child(2) {
  transform: rotate(-45deg);
  opacity: 0;
}

.menu:focus span:nth-child(3) {
  transform: rotate(-45deg) translateY(15px) translateY(-24px) translateX(31px) translateX(-22px);
}

.banner {
  height: 100vh;
  position: relative;
  display: flex;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(7, 15, 25, 0.75);
  z-index: -1;
}

.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.banner__title {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.banner__desc {
  color: #C8C8C8;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 570px;
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.banner__btns {
  display: flex;
  column-gap: 30px;
}

.films {
  padding: 60px 0 78px;
}

.films:hover .films__title::after {
  width: 100%;
  left: 0;
}

.films__cards {
  display: flex;
  justify-content: space-between;
}

.films__title {
  color: var(--titleColor);
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  margin-bottom: 55px;
  padding-bottom: 12px;
  width: max-content;
  position: relative;
}

.films__title::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: var(--titleColor);
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 23px 23px 0px 0px;
  transition: 500ms linear;
}

.films__item {
  max-width: 255px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  padding: 54px 15px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.films__item::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
  top: 0;
  left: 0;
  z-index: -1;
}

.films__item:hover .films__item-bg {
  transform: scale(1.2);
}

.films__item:hover .films__time {
  transform: scale(0);
}

.films__item:hover .films__item-icon {
  transform: scale(1.5) rotateX(180deg) translateY(-10px);
}

.films__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  transition: 500ms;
}

.films__item-icon {
  margin-bottom: 12px;
  transition: 500ms;
}

.films__time {
  border-radius: 9px;
  border: 1px solid #FFF;
  background: rgba(7, 15, 25, 0.20);
  padding: 7px 28px;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 31px;
  transition: 500ms;
}

.films__item-title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.films__desc {
  color: #FFF;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.video {
  height: 500px;
  position: relative;
  padding-top: 42px;
}

.video::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0.00) 100.72%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.video__movie {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  object-fit: cover;
  z-index: -2;
}

.video__logo {
  margin-bottom: 51px;
  max-width: 445px;
  width: 100%;
}

.video__desc {
  color: #000;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 55px;
  max-width: 558px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}